{
    "printWidth": 100,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 100
            }
        }
    ]
}
